/** table **/
table {
    th {
        background: {
            color: green;
        }
    }
}


/** buttons **/

a.btn {
    text-decoration: none;
}

.btn {
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    padding: 3px 4px;
}

